<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.admin.budayakuv2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" >

        </activity>
        <activity android:name=".Sejarah" ></activity>
        <activity android:name=".ListViewItemBudaya" >

        </activity>
        <activity android:name=".About"></activity>
        <activity android:name=".Jakarta"></activity>
        <activity android:name=".Aceh"></activity>
        <activity android:name=".Bali"></activity>
        <activity android:name=".JawaBarat"></activity>
        <activity android:name=".Jatim"></activity>
        <activity android:name=".JawaTengah"></activity>
        <activity android:name=".SulawesiSelatan"></activity>
        <activity android:name=".Papua"></activity>
    </application>

</manifest>